ErrorDocument 404 /404.html

RewriteEngine On RewriteCond %{HTTPS} !=on RewriteRule ^(.\*)$
https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# For CSS

AddType "text/css; charset=utf-8" .css

# For JavaScript

AddType "application/javascript; charset=utf-8" .js

<IfModule mod_headers.c>
  # Cache image files, fonts, and other static resources for 1 month
  <FilesMatch "\.(jpg|jpeg|png|gif|ico|svg|webp|css|js|woff|woff2|ttf|otf)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>

# Cache HTML files for 1 day

<FilesMatch "\.(html|htm)$"> Header set Cache-Control "max-age=86400, public"
</FilesMatch>

# Security configuration

Header set X-Content-Type-Options "nosniff" Header set Content-Security-Policy
"frame-ancestors 'none'; script-src 'self';"

</IfModule>
