/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES CSS */
:root {
  --header-height: 3rem;

  /* Colors */
  --hue-color: 220;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 43%);
  --first-color-lighter: hsl(var(--hue-color), 80%, 45%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  --nav-color: hsl(var(--hue-color), 69%, 45%);
  --cert-bg-color: hsla(var(--hue-color), 69%, 61%, 0.158);
  --wip-bg-color: hsla(48, 100%, 50%, 0.158);
  --wip-border-color: hsl(48, 100%, 50%);
  --wip-color: hsl(48, 100%, 41%);

  /* Font & Typography */
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px etc.. */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --h4-font-size: 1.0625rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font Weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margins Bottom */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px etc.. */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-4: 4rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for Large Devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Variables Dark Theme */
body.dark-theme {
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --wip-bg-color: hsl(48, 100%, 50%, 0.45);
  --wip-color: hsl(48, 100%, 50%);
}

/* Button Dark/Light */
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

/* Reusable CSS Classes */
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* Layout */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* ===================== NAV ===================== */
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 5px var(--nav-color);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* Show Menu */
.show-menu {
  bottom: 0;
}

/* Active Link */
.active-link {
  color: var(--first-color);
}

/* Change Background Header */
.scroll-header {
  box-shadow: 0 -1px 5px var(--nav-color), 0 1px 5px var(--nav-color);
}

/* ===================== HOME ===================== */
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
}

/*.home__scroll{
	display: none;
}*/

.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
  animation: moveArrow 1.5s infinite ease-in-out;
}

@keyframes moveArrow {
  0% {
    transform: translateY(-2px); /* Posición inicial */
  }
  50% {
    transform: translateY(2px); /* Mueve la flecha hacia arriba */
  }
  100% {
    transform: translateY(-2px); /* Vuelve a la posición inicial */
  }
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/* ===================== ABOUT ===================== */
.about__img {
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__blob {
  width: 350px;
  fill: var(--first-color);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.about__blob-img {
  width: 200px;
}

.about__title {
  text-align: center;
  margin-bottom: var(--mb-1);
}

.about__description {
  width: 100%;
  margin-bottom: var(--mb-2-5);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/*Button Resume*/

.btn-resume {
  scale: 0.75;
  --width: 160px;
  --height: 64px;
  --tooltip-height: 40px;
  --tooltip-width: 110px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: var(--first-color);
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 32px;
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  cursor: pointer;
  transition: background 0.3s;
}

.btn-resume::before {
  /*ToolTip*/
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 16px;
  color: #111;
  border-radius: 6px;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.btn-resume::after,
.btn-resume::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.btn-resume .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-resume .button-wrapper,
.btn-resume .text,
.btn-resume .icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.btn-resume .text {
  top: 0;
}

.btn-resume .text,
.btn-resume .icon {
  transition: top 0.5s;
}

.btn-resume .icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-resume .icon svg {
  width: 24px;
  height: 24px;
}

.btn-resume:hover {
  background: var(--first-color-alt);
}

.btn-resume:hover .text {
  top: -100%;
}

.btn-resume:hover .icon {
  top: 0;
}

.btn-resume:hover:before,
.btn-resume:hover:after {
  opacity: 1;
  visibility: visible;
}

.btn-resume:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.btn-resume:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* SKILLS */
.skills {
  padding: 2rem 0 4rem !important;
}

.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
}

.skills__header:hover {
  cursor: pointer;
}

.skills__header:hover .skills__title {
  color: var(--first-color-lighter);
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
}

.skill__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__name::before {
  content: '⪧ ';
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* CERTIFICATES */

.certificates__grid {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.certificates__item {
  height: 250px;
  width: 150px;
  background-color: var(--cert-bg-color);
  border-radius: 1rem;
  border: 1px solid var(--first-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.certificates__item:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-0.5rem);
}

.certificates__img {
  width: 100%;
  height: auto;
}

.certificates__title {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  margin: 0 var(--mb-0-5);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  max-width: 100%;
}

.certificates__subtitle {
  position: absolute; /* Posiciona el subtítulo de forma absoluta */
  bottom: 5px; /* Ajusta la distancia desde el fondo */
  left: 8px; /* Ajusta la distancia desde la izquierda */
  font-size: var(--smaller-font-size); /* Tamaño de fuente */
  color: var(--text-color-light);
  padding: 2px 4px; /* Espaciado alrededor del texto */
}

.work-in-progress {
  cursor: default;
  background-color: var(
    --wip-bg-color
  ); /* Color amarillo suave para indicar progreso */
  border: 1px solid var(--wip-border-color); /* Borde amarillo */
}

.work-in-progress::before {
  content: 'In Progress'; /* Texto que indica que está en progreso */
  display: block;
  color: var(--wip-color);
  font-weight: bold;
  text-align: center;
}

.certificates__item:not(.work-in-progress)::before {
  content: attr(data-before);
  display: block;
  color: var(--first-color-lighter);
  font-weight: bold;
  text-align: center;
}

/* Active Modal */
/* Styles for the modal background when it's active */
.modal {
  display: none; /* Initially hidden */
  position: fixed; /* Fixed position on the screen */
  z-index: var(--z-modal);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--body-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--title-color);
  width: 80%;
  max-width: 600px;
  color: var(--first-color-alt);
  text-align: center;
  border-radius: 8px;
  position: relative;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.modal.show {
  display: flex;
}

.modal-content.show {
  transform: scale(1);
}

.modal-content p:hover {
  color: var(--first-color-lighter);
  cursor: pointer;
}

/* Close button styles */
.close {
  position: absolute;
  top: var(--mb-0-25);
  right: var(--mb-1);
  color: var(--title-color);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--first-color);
}

/* EXPERIENCE */

/* PORTFOLIO */
/* PROJECT IN MIND */
/* TESTIMONIAL */

/* CONTACT ME */
.contact__container {
  row-gap: 3rem;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

/*Send Button*/

.btn-send {
  --primary: var(--first-color-lighter);
  --neutral-1: hsl(var(--hue-color), 69%, 75%);
  --neutral-2: hsl(var(--hue-color), 69%, 65%);
  --radius: 32px;
  scale: 0.5;
  cursor: pointer;
  border-radius: var(--radius);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  min-width: 160px;
  padding: 0 20px;
  height: 70px;
  font-family: var(--body-font);
  font-style: normal;
  font-size: 1.5rem;
  font-weight: var(--font-medium);
}
.btn-send:hover {
  transform: scale(1.02);
  font-size: 1.45rem;
}
.btn-send:active {
  transform: scale(1);
}
.btn-send:after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: var(--radius);
  background: var(--neutral-2);
  border: 2.5px solid transparent;
  z-index: 0;
  transition: all 0.4s ease;
}
.btn-send:hover::after {
  transform: scale(1.05, 1.1);
}
.btn-send::before {
  content: '';
  inset: 7px 6px 6px 6px;
  position: absolute;
  border-radius: 30px;
  filter: blur(0.5px);
  z-index: 2;
}
.btn-send .state p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-send .state .icon {
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: scale(1.25);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-send .state .icon svg {
  overflow: visible;
}

/* Outline */
.btn-send .outline {
  position: absolute;
  border-radius: inherit;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease;
  inset: -2px -10px;
}
.btn-send .outline::before {
  content: '';
  position: absolute;
  inset: -320%;
  background: conic-gradient(
    from 180deg,
    transparent 40%,
    var(--neutral-1) 50%,
    transparent 60%
  );
  animation: spin 2s linear infinite;
  animation-play-state: paused;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-send:hover .outline {
  opacity: 1;
}
.btn-send:hover .outline::before {
  animation-play-state: running;
}

/* Letters */
.btn-send .state p span {
  color: var(--title-color);
  display: block;
  opacity: 0;
  animation: slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
}
.btn-send:hover p span {
  opacity: 1;
  animation: wave 0.5s ease forwards calc(var(--i) * 0.02s);
}
.btn-send:focus p span {
  opacity: 1;
  animation: disapear 0.6s ease forwards calc(var(--i) * 0.03s);
}
@keyframes wave {
  30% {
    opacity: 1;
    transform: translateY(4px) translateX(0) rotate(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-3px) translateX(0) rotate(0);
    color: var(--primary);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px) translateX(5px) rotate(-90deg);
    color: var(--primary);
    filter: blur(5px);
  }
  30% {
    opacity: 1;
    transform: translateY(4px) translateX(0) rotate(0);
    filter: blur(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-3px) translateX(0) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
  }
}
@keyframes disapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(5px) translateY(20px);
    color: var(--primary);
    filter: blur(5px);
  }
}

/* Plane */
.btn-send .state--default .icon svg {
  color: var(--title-color);
  animation: land 0.6s ease forwards;
}
.btn-send:hover .state--default .icon {
  transform: rotate(45deg) scale(1.25);
}
.btn-send:focus .state--default svg {
  animation: takeOff 0.8s linear forwards;
}
.btn-send:focus .state--default .icon {
  transform: rotate(0) scale(1.25);
}
@keyframes takeOff {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translateX(70px) rotate(45deg) scale(2);
  }
  100% {
    opacity: 0;
    transform: translateX(160px) rotate(45deg) scale(0);
  }
}
@keyframes land {
  0% {
    transform: translateX(-60px) translateY(30px) rotate(-50deg) scale(2);
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
    opacity: 1;
    filter: blur(0);
  }
}

/* Contrail */
.btn-send .state--default .icon:before {
  content: '';
  position: absolute;
  top: 50%;
  height: 2px;
  width: 0;
  left: -5px;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
}
.btn-send:focus .state--default .icon:before {
  animation: contrail 0.8s linear forwards;
}
@keyframes contrail {
  0% {
    width: 0;
    opacity: 1;
  }
  8% {
    width: 15px;
  }
  60% {
    opacity: 0.7;
    width: 80px;
  }
  100% {
    opacity: 0;
    width: 160px;
  }
}

/* States */
.btn-send .state {
  padding-left: 29px;
  z-index: 2;
  display: flex;
  position: relative;
}
.btn-send .state--default span:nth-child(4) {
  margin-right: 5px;
}
.btn-send .state--sent {
  display: none;
}
.btn-send .state--sent svg {
  transform: scale(1.25);
  margin-right: 8px;
}
.btn-send:focus .state--default {
  position: absolute;
}
.btn-send:focus .state--sent {
  display: flex;
}
.btn-send:focus .state--sent span {
  opacity: 0;
  animation: slideDown 0.8s ease forwards calc(var(--i) * 0.2s);
}
.btn-send:focus .state--sent .icon svg {
  opacity: 0;
  animation: appear 1.2s ease forwards 0.8s;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(4) rotate(-40deg);
    color: var(--primary);
    filter: blur(4px);
  }
  30% {
    opacity: 1;
    transform: scale(0.6);
    filter: blur(1px);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
    filter: blur(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* FOOTER */
.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  column-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-0-75);
  margin-left: var(--mb-0-75);
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--title-color);
  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: var(--title-color);
}

/* ===================== SCROLL UP ===================== */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/* =========== SCROLL BAR =========== */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* =========== No Selectable =========== */
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* =========== Tooltip =========== */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none; /* Optional: remove underline */
}

/* Tooltip text - hidden by default */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(29, 29, 29);
  color: #fff;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: var(--small-font-size);

  /* Positioning */
  position: absolute;
  z-index: 1;
  top: 5%; /* Position align with the link */
  left: 50%;
  margin-left: var(--mb-1); /* Half the width to center */

  /* Fade-in effect */
  opacity: 0;
  transition: opacity 0.1s;
}

/* Show the tooltip when hovering over the link */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* =========== Code =========== */

#copyCode {
  display: none;
  position: absolute;
  bottom: 25%;
  left: 40%;
  width: 80%;
  transform: rotate(12deg) scale(1);
  transition: transform 0.5s ease-in-out;
  color: #fff;
}

#copyCode.scale-up {
  animation: scaleAnimation 0.5s ease-in-out 2;
}

@keyframes scaleAnimation {
  0%,
  100% {
    transform: rotate(12deg) scale(1);
  }
  50% {
    transform: rotate(12deg) scale(1.2);
  }
}

/* ===================== MEDIA QUERIES ===================== */
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .about__blob {
    width: 180px;
  }

  .about__description {
    text-align: center;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }
}

@media screen and (min-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .about__blob {
    width: 280px;
  }

  .about__description {
    text-align: center;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data {
    grid-column: initial;
  }

  .home__img {
    order: 1;
    /*justify-self: center;*/
  }

  .home__img img {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }

  .about__container,
  .skills__container,
  .portfolio__content,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__description {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    padding-top: 5.5rem;
    column-gap: 1.5rem;
  }

  .home__scroll {
    display: block;
  }

  .home__scroll-button {
    margin-left: 3rem;
  }

  .about__container {
    column-gap: 5rem;
  }

  .about__img {
    width: 350px;
  }

  .about__blob {
    width: 300px;
  }
  .about__description {
    text-align: initial;
  }

  .about__info {
    justify-content: space-between;
  }

  .about__buttons {
    justify-content: initial;
  }

  .portfolio__img {
    width: 320px;
  }

  .portfolio__content {
    align-items: center;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__links {
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    text-align: center;
  }

  .footer__socials {
    align-content: center;
    text-align: center;
  }

  .footer__copy {
    margin-top: 4.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__social {
    transform: translateX(-6rem);
  }

  .about__blob {
    width: 380px;
  }

  .portfolio__content {
    column-gap: 5rem;
  }

  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }

  .swiper-button-prev {
    left: -3.5rem;
  }

  .swiper-button-next {
    right: -3.5rem;
  }

  .swiper-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }

  .contact__form {
    width: 460px;
  }

  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
